.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-left: 50px;
    padding-top: 93px;
    padding-right: 50px;
    padding-bottom: 96px;
    background-color: #fff;
    
}

.header__menu {
    width: 391px;
    height: 22px;
}
.header__menu-list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-weight: 400;
    font-size: 18px;
    list-style: circle;
}
.header__menu-item_active {
    text-decoration: none;
    list-style: none;
}

.address {
    font-style: normal;
}

.header__address {
    width: 240px;
    height: 98px;
    justify-self: end;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
}
.header__logo-image {
    width: 100%;
    
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
    
        
}
.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
   
}
.cover__title {
    position: relative;
    width: 100%;
    line-height: 115%;
    letter-spacing: 0.3em;
    font-weight: 700;
    font-size: 100px;
    padding-top: 165px;
    padding-left: 50px;
    padding-right: 50px;
    
    color: #fff;
    text-transform: uppercase;
}
.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    width: 1000px;
    max-height: 51px;
    padding: 135px 50px 50px 50px;
    gap: 110px;

}

.cover__description-text {
    display: block;
    width: 637px;
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    word-spacing: 18px;
    color: #fff;
    z-index: 1;
   
}

.bet-button {
    display: block;
   
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    z-index: 1;
    background-color: transparent;
    padding: 8.5px 32px 15.5px 31px;
    margin-bottom: 6px;
    
}

.aligned-text {
    display: block;
        
}
.aligned-text_center {
    display: block;
    text-align: center;
    padding-top: 19px;
    padding-left: 28px;
    
}

.aligned-text_right {
    display: block;
    text-align: right;
    padding-top: 20px;
    padding-left: 614px;
    
}
.letter-spacing-extended {
    letter-spacing: 10px;
    
}
.no-letter-spacing {
    letter-spacing: normal;
}
.text__uppercased {
    text-transform: uppercase;
}
.card-link {
    height: 100%;
}
.lots {
    margin-top: 180px;
}
.lots__heading {
    width: 121px;
    height: 47px;
    margin-left: 40px;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}
.lots__card-list {
    display: flex;
    gap: 50px;
    list-style-type: none;
  
    

}
.lots__card-list-item {
   display: block;
   width: 334px;
   height: 596px;
}

.lots__look-more-link {
    width: 192px;
    height: 25px;
}
.card {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    
    
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;

}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;

}
.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    margin-left: 40px;
    margin-top: 48px;
    margin-right: 40px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    z-index: 1;

}
.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 48px;
    color: #fff;
    z-index: 1;
}

.lots__look-more-link {
    display: block;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.about {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 72px;
    margin-top: 120px;
    min-height: 728px;
}

.about__column {
    position: relative;
    flex-direction: column;
    
    
}


.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin-left: 35px;
    margin-top: 47px;
}

.about__logo-image {
    display: block;
    height: 114px;
    width: 148px;
    
}

.about__content {
    margin-top: 133px;
    margin-right: 24px;
    width: 693px;
    height: 449px;
}

.about__column-header {
    text-transform: uppercase;
}

.about__column-title {
margin-top: 100px;
}

.about__column-text {
    margin-top: 150px;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 180px;
    
    

}
.footer__address {
    margin-left: 50px;
    justify-self: start;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    justify-self: center;
}
.footer__social {
    margin-bottom: 131px;

}
.footer__social-list {
    display: flex;
    list-style-type: none;
    margin-right: 50px;
    gap: 48px;
    justify-self: end;
    
}

.footer_social-link {
    width: 100%;
    height: 100%;
}
.footer__social-icon {
    height: 48px;
    width: 48px;
}