.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-left: 50px;
    padding-top: 93px;
    padding-right: 50px;
    padding-bottom: 96px;
    background-color: #fff;
    
}


.header__menu-list {
    display: flex;
    justify-content: space-around;
    gap: 1px;
    
    list-style: circle;
}

.header__address {
    max-width: 200px;
    justify-self: end;
}

.header__logo {
    display: block;
    width: 148px;
}
.header__logo-image {
    width: 100%;
    
}
.header__menu-item_active {
    text-decoration: none;
    list-style: none;
}

.cover {
    position: relative;
    min-height: 728px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
        
}
.overlay {
    position: absolute;
    inset: 0;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.cover__title {
    position: block;
    width: 100%;
    line-height: 115%;
    letter-spacing: 0.3em;
    font-weight: 700;
    font-size: 100px;
    padding-top: 106px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;

    
}
.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    z-index: 1;
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
}

.bet-button {
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 12px 32px 11px 31px;
    border: 1px solid #fff;
    z-index: 1;
    background-color: transparent;
}

.aligned-text {
    display: block;
    
   
    
}
.aligned-text_center {
    display: block;
    text-align: center;
    
    
}

.aligned-text_right {
    display: block;
    text-align: right;
    
    
}
.letter-spacing-extended {
    letter-spacing: 10px;
    
}
.no-letter-spacing {
    letter-spacing: normal;
}
.text__uppercased {
    text-transform: uppercase;
}
.card-link {
    height: 100%;
}
.lots {
    margin-top: 180px;
}
.lots__heading {
    margin-left: 40px;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}
.lots__card-list {
    display: flex;
    gap: 20px;
    

}
.lots__card-list-item {
    min-height: 596px;
    width: 334px;
}
.card {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    
    
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;

}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;

}
.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    margin-left: 40px;
    margin-top: 48px;
    margin-right: 40px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    z-index: 1;

}
.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 48px;
    color: #fff;
    z-index: 1;
}

.lots__look-more-link {
    display: block;
    margin-left: 40px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    color: #000;
}